body{
    color: rgb(4, 73, 4) !important;
    }
    .div.h1{
        text-align: center;
    }
    .sign-up{
        font-family: sans-serif;
        font-weight: lighter;
    }
    .form-control{
        font-family: sans-serif;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid black !important;
    }
    .form-control::placeholder{
        color: black !important;
    }
    .form.div.placeholder{
        color: black;
        font-size: 14px;
    }
    .btn{
        padding: 10px 30px 10px 30px !important;
        font-size: x-large !important;
    }
    .btn-color{
        background-image: linear-gradient(red,blue);
    }
    .bg-img{
        background-image:url('../images/img.png') ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
    }